dist
node_modules
.idea
.env
app/data

.DS_Store

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup

# packages
app/server.zip
app/worker.zip

# virtual envs
venv

# traffic
traffic/files

# load-test
load-test/results
